<h1 class="text-3xl">home#index</h1>
<div id="HomeIndex"></div>
<div class="p-4">
  <%- if user_signed_in? -%>
    <div class="py-2">
      <%= link_to "パスキーを追加する", new_registration_path, class: 'py-2 px-4 text-slate-50 bg-lime-500 rounded' %>
    </div>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: 'py-2 px-4 text-slate-50 bg-zinc-500 rounded' %>
  <%- else -%>
    <%= link_to "Log in", new_user_session_path, class: 'py-2 px-4 text-slate-50 bg-blue-500 rounded' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'py-2 px-4 text-slate-50 bg-green-500 rounded'%>
  <%- end -%>
</div>
